* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
header {
    width: 100%;
    height: 80px; 
    min-height: 10vh;
    background-color: rgb(254, 254, 254);
    display: flex;
    justify-content: space-between; /* Centralizar o conteúdo horizontalmente */
    align-items: center; /* Alinhar verticalmente */
    padding: 0 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Sombra */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; /* Espaçamento vertical no cabeçalho */
}

header section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px; /* Limitar a largura máxima */
    padding: 10px 20px;
}
header .logo {
    margin-right: 0 px;
}

header nav {
  flex: 1;
    text-align: right;
    margin-right: 50px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-center;
}
header nav ul li {
   margin-right: 50px;
}
header nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1.2vh 1vw;
}
.logo img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
  
}
main {
    width: 100%;
    flex: 1;
    margin-top: 100px;
    padding: 20px;
    background-color: black;
}

h1, h4 {
    color: black;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

a {
    color: rgb(122, 122, 248);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.container {
    max-width: 1200px; /* Define uma largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    padding: 0; /* Espaçamento interno para alinhamento */
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h4 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #666;
}

.card a {
    color: blue;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* Efeito ao passar o mouse sobre o card */
.card:hover {
    transform: translateY(-5px); /* Mover ligeiramente para cima */
    box-shadow: 0 8px 16px rgba(106, 79, 79, 0.2); /* Aumentar a sombra */
}
body {
    padding-top: 100px; /* Espaço equivalente à altura do cabeçalho */
    margin: 10px;
    background: black;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1); /* Sombra superior */
}

footer p {
    margin: 0;
    color: #333;
}

footer a {
    color: blue;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}